* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: "Alice" sans-serif;
  line-height: 150%;
  text-align: justify;
}
body {
  width: 100%;
  background: url(./assets/chen-sithyfong-1fSRYz5QpSE-unsplash.jpg);
  background-size: cover;
  line-height: 150%;
}
img {
  border-radius: 16px;
  margin-bottom: 24px;
}
#page {
  padding: 24px;
  background-color: blanchedalmond;
  width: 800px;
  margin: 48px auto 28px;
  border-radius: 24px;
}
main {
  padding: 0 24px 24px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  margin-bottom: 4px;
}
h2 {
  font-size: 24px;
  margin-bottom: 4px;
}
h1,
h2 {
  color: black;
}

#about p {
  margin-bottom: 24px;
}
#fzr ul {
  padding-left: 24px;
  margin-bottom: 24px;
}
#Eve p {
  padding: 0 2px 24px;
  margin-top: 4px;
}
footer {
  text-align: center;
  color: black;
}
